---
- name: Actualizar lista de paquetes
  apt:
    update_cache: yes

- name: Instalar Apache
  apt:
    name: "apache2"
    state: present

- name: Instalar MySQL Server
  apt:
    name: "mysql-server"
    state: present

- name: Instalar librería Python para MySQL
  apt:
    name: python3-pymysql
    state: present

- name: Instalar PHP y extensiones necesarias
  apt:
    name: "{{ item }}"
    state: present
  with_items: "{{ php_packages }}"
  notify: Reiniciar Apache

- name: Crear base de datos de WordPress
  mysql_db:
    name: "{{ wordpress_db_name }}"
    state: present
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Crear usuario de base de datos MySQL
  mysql_user:
    name: "{{ wordpress_db_user }}"
    password: "{{ wordpress_db_pass }}"
    priv: "{{ wordpress_db_name }}.*:ALL"
    host: "localhost"
    state: present
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Descargar WordPress {{ wordpress_version }}
  get_url:
    url: "https://wordpress.org/wordpress-{{ wordpress_version }}.tar.gz"
    dest: /tmp/wordpress.tar.gz

- name: Descomprimir WordPress
  unarchive:
    src: /tmp/wordpress.tar.gz
    dest: "{{ wp_install_dir }}"
    remote_src: yes
    owner: www-data
    group: www-data
    extra_opts:
      - --strip-components=1

- name: Copiar wp-config.php.j2
  template:
    src: wp-config.php.j2
    dest: "{{ wp_install_dir }}/wp-config.php"
    owner: www-data
    group: www-data
    mode: '0644'
  vars:
    db_name: "{{ wordpress_db_name }}"
    db_user: "{{ wordpress_db_user }}"
    db_pass: "{{ wordpress_db_pass }}"
    db_host: "{{ wordpress_db_host }}"

- name: Instalar WP-CLI
  get_url:
    url: https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
    dest: /usr/local/bin/wp
    mode: '0755'
  register: wpcli_download
  retries: 5
  delay: 10
  until: wpcli_download is succeeded

- name: Instalar base de datos de WordPress (wp core install)
  shell: >
    wp core install
    --url="http://{{ ansible_host }}"
    --title="{{ wordpress_site_title }}"
    --admin_user="{{ wordpress_admin_user }}"
    --admin_password="{{ wordpress_admin_pass }}"
    --admin_email="{{ wordpress_admin_email }}"
    --path="{{ wp_install_dir }}"
    --allow-root
  args:
    creates: "{{ wp_install_dir }}/wp-content/uploads"

- name: Eliminar WP-CLI tras la instalación
  file:
    path: /usr/local/bin/wp
    state: absent

- name: Eliminar index.html por defecto
  file:
    path: /var/www/html/index.html
    state: absent